In [95]:
import pandas as pd
df = pd.read_csv('netflix_titles.csv')
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

 1. Combien de films sont répertoriés dans le fichier csv ?

In [98]:
df_Nombre_Film = df[df['type'] == 'Movie']
df_Nombre_Film['type'].count()

6131

2 . Quel est le film le plus ancien enregistré dans le fichier csv ?

In [12]:
df_Nombre_Film['release_year'].min()

1942

3 .Combien de films sont répertoriés pour chaque pays ?

In [93]:
df_Nombre_Film['country'] = df_Nombre_Film['country'].str.split(', ')
df_Nombre_Film = df_Nombre_Film.explode('country')
pays = df_Nombre_Film['country'].value_counts()
result = pd.DataFrame({'Pays': pays.index, 'Nombres de titres': pays.values})
result

               Pays  Nombres de titres
0     United States               2751
1             India                962
2    United Kingdom                532
3            Canada                319
4            France                303
..              ...                ...
117         Bermuda                  1
118          Angola                  1
119         Armenia                  1
120        Mongolia                  1
121      Montenegro                  1

[122 rows x 2 columns]

4. Quel est le type de film le plus populaire (séries ou films) ?

5. Quel est le film avec la durée la plus longue ?

6. Combien de films sont classés comme "Contenu pour adultes" ?

7. Quel est le réalisateur avec le plus grand nombre de films répertoriés dans le fichier csv ?

8. Combien de titres sont classés dans chaque catégorie (listed_in)?

9. Quel est le nombre moyen de durée des titres (en minutes) sur Netflix? (film et serie séparément)

10. Combien de titres sont sortis chaque année depuis la première sortie?

11. Quels sont les acteurs les plus populaires sur Netflix?