In [1]:
import pandas as pd
df = pd.read_csv('netflix_titles.csv')
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

 1. Combien de films sont répertoriés dans le fichier csv ?

In [98]:
df_Nombre_Film = df[df['type'] == 'Movie']
df_Nombre_Film['type'].count()

6131

2 . Quel est le film le plus ancien enregistré dans le fichier csv ?

In [12]:
df_Nombre_Film['release_year'].min()

1942

3 .Combien de films sont répertoriés pour chaque pays ?

In [93]:
df_Nombre_Film['country'] = df_Nombre_Film['country'].str.split(', ')
df_Nombre_Film = df_Nombre_Film.explode('country')
pays = df_Nombre_Film['country'].value_counts()
result = pd.DataFrame({'Pays': pays.index, 'Nombres de titres': pays.values})
result

               Pays  Nombres de titres
0     United States               2751
1             India                962
2    United Kingdom                532
3            Canada                319
4            France                303
..              ...                ...
117         Bermuda                  1
118          Angola                  1
119         Armenia                  1
120        Mongolia                  1
121      Montenegro                  1

[122 rows x 2 columns]

4. Quel est le type de film le plus populaire films ?

In [17]:
df = pd.read_csv('netflix_titles.csv')
df_Nombre_Film = df[df['type'] == 'Movie']
df_Nombre_Film["listed_in"] = df_Nombre_Film["listed_in"].str.split(", ")
df_Nombre_Film = df_Nombre_Film.explode("listed_in")
genre = df_Nombre_Film["listed_in"].value_counts()
genre

/tmp/ipykernel_8292/2318776925.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Nombre_Film["listed_in"] = df_Nombre_Film["listed_in"].str.split(", ")

International Movies        2752
Dramas                      2427
Comedies                    1674
Documentaries                869
Action & Adventure           859
Independent Movies           756
Children & Family Movies     641
Romantic Movies              616
Thrillers                    577
Music & Musicals             375
Horror Movies                357
Stand-Up Comedy              343
Sci-Fi & Fantasy             243
Sports Movies                219
Classic Movies               116
LGBTQ Movies                 102
Anime Features                71
Cult Movies                   71
Faith & Spirituality          65
Movies                        57
Name: listed_in, dtype: int64

5. Quel est le film avec la durée la plus longue ?

In [29]:
df = pd.read_csv('netflix_titles.csv')
df_Nombre_Film = df[df['type'] == 'Movie']
df_Nombre_Film['duration'] = df_Nombre_Film['duration'].str.replace(' min', '')
df_Nombre_Film['duration'] = df_Nombre_Film['duration'].astype(float)
df_Nombre_Film[df_Nombre_Film['duration'] == df_Nombre_Film['duration'].max()]

/tmp/ipykernel_8292/3885730135.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Nombre_Film['duration'] = df_Nombre_Film['duration'].str.replace(' min', '')
/tmp/ipykernel_8292/3885730135.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Nombre_Film['duration'] = df_Nombre_Film['duration'].astype(float)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4253,s4254,Movie,Black Mirror: Bandersnatch,NaN,"Fionn Whitehead, Will Poulter, Craig Parkinson...",United States,"December 28, 2018",2018,TV-MA,312.0,"Dramas, International Movies, Sci-Fi & Fantasy","In 1984, a young programmer begins to question..."

6. Combien de films sont classés comme "Contenu pour adultes" ?

In [34]:
df = pd.read_csv('netflix_titles.csv')
df_Nombre_Film = df[df['type'] == 'Movie']
df_Nombre_Film = df[df["rating"] == "R"]
df_Nombre_Film["rating"].count()

799

7. Quel est le réalisateur avec le plus grand nombre de films répertoriés dans le fichier csv ?

In [71]:
df = pd.read_csv('netflix_titles.csv')
df_Nombre_Film = df[df['type'] == 'Movie']
df_Nombre_Film['director'] = df_Nombre_Film['director'].str.split(',')
df_director = df_Nombre_Film.explode('director')
df_director['director'].value_counts().head(1)

/tmp/ipykernel_8292/38162772.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Nombre_Film['director'] = df_Nombre_Film['director'].str.split(',')

Rajiv Chilaka    22
Name: director, dtype: int64

8. Quel est le nombre moyen de durée des titres (en minutes) sur Netflix?

In [77]:
df = pd.read_csv('netflix_titles.csv')
df_Nombre_Film = df[df['type'] == 'Movie']
df_Nombre_Film['duration'] = df_Nombre_Film['duration'].str.replace(' min', '')
df_Nombre_Film['duration'] = df_Nombre_Film['duration'].astype(float)
df_Nombre_Film['duration'].mean()

/tmp/ipykernel_8292/1331625832.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Nombre_Film['duration'] = df_Nombre_Film['duration'].str.replace(' min', '')
/tmp/ipykernel_8292/1331625832.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Nombre_Film['duration'] = df_Nombre_Film['duration'].astype(float)

99.57718668407311

9. Combien de titres sont sortis chaque année depuis la première sortie?

In [79]:
df = pd.read_csv('netflix_titles.csv')
df['release_year'].value_counts().sort_index()

1925       1
1942       2
1943       3
1944       3
1945       4
        ...
2017    1032
2018    1147
2019    1030
2020     953
2021     592
Name: release_year, Length: 74, dtype: int64

10. Quels sont les acteurs les plus populaires sur Netflix?

In [92]:
df = pd.read_csv('netflix_titles.csv')
df['cast'] = df['cast'].str.replace(', ', ',')
df['cast'] = df['cast'].str.split(',')
df = df.explode('cast')
df['cast'].value_counts()
pd.DataFrame({'cast': df['cast'].value_counts().index, 'nombre de film': df['cast'].value_counts().values})

                          cast  nombre de film
0                  Anupam Kher              43
1               Shah Rukh Khan              35
2                Julie Tejwani              33
3             Naseeruddin Shah              32
4             Takahiro Sakurai              32
...                        ...             ...
36434             Maryam Zaree               1
36435           Melanie Straub               1
36436  Gabriela Maria Schmeide               1
36437            Helena Zengel               1
36438    Chittaranjan Tripathy               1

[36439 rows x 2 columns]